@import "../../../../Theme.scss";

$height: 20em;
$width: 15em;

.card {
    background-color: get-color("dark");
    color: white;
    border: 5px solid get-color("tertiary");
    padding: 11px;
    transition: all .5s ease;
}

.card > p {
    transition: all .5s ease;
}

.card.card-md {
    height: 0.7*$height;
    width: 0.7*$width;
    border-radius: 2em;
    margin: 0.2em;
}
p.card-md {
    font-size: 1.5rem;
}

.card.card-sm {
    height: 0.3*$height;
    width: 0.3*$width;
    border-radius: 1em;
    margin: 0.1em;
}

p.card-sm {
    font-size: 0.45rem;
}