@import "../../Theme";

$width: 8em;
$height: 4em;

.menu-wrapper {
  right: 0;
  top: 0;
  position: fixed;
  text-align: right;
  z-index: 1;
}

.menu-box1 {
  position: fixed;
  background-color: get-color("primary");
  right: 0;
  width: $width * 0.75;
  height: $height * 0.75;
  border-bottom-left-radius: $height / 2;
}

.menu-box2 {
  position: fixed;
  background-color: get-color("primary");
  right: $width * 0.75;
  width: $width * 0.25;
  height: $height * 0.75 / 2;
}

.menu-box3 {
  position: fixed;
  background-color: get-color("dark");
  right: $width * 0.75;
  width: $width * 0.25;
  height: $height * 0.75 / 2;
  border-top-right-radius: $height * 0.75 / 2;
}

.menu-box4 {
  position: fixed;
  background-color: get-color("primary");
  top: $height * 0.75;
  right: 0;
  width: $width * 0.25;
  height: $height * 0.25;
}

.menu-box5 {
  position: fixed;
  background-color: get-color("dark");
  top: $height * 0.75;
  right: 0;
  width: $width * 0.25;
  height: $height * 0.25;
  border-top-right-radius: $width;
}

.menu-content {
  position: fixed;
  right: 0;
  width: $width * 0.75;
  height: $height * 0.75;
  text-align: center;
}
