@import "../../Theme";

$width: 8em;
$height: 4em;

.menu-wrapper {
  right: 0;
  top: 0;
  position: fixed;
  text-align: right;
  z-index: 1;
}

.menu-svg {
  width: $width;
}
.menu-svg>path {
  stroke: get-color("primary-shade");
  stroke-width: 0.1;
  fill: get-color("primary");
}

.menu-content {
  position: absolute;
  top: 0;
  right: 0;
  width: $width * 0.75;
  height: $height * 0.75;
  text-align: center;
}
