@import "../../../../Theme";

.game-player {
    border: 1px solid get-color("tertiary");
    border-radius: 1em;
    padding: 10px
}

.game-player-turn {
    animation-name: game-player-turn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes game-player-turn {
    0% {
        color: white;
        border-color: white;
    }
    50% {
        color: get-color("tertiary");
        border-color: get-color("tertiary");
    }
    100% {
        color: white;
        border-color: white;
    }
}